<div class="container-navbar">
    <header class="d-flex justify-content-between">
        <nav class="navbar">
            <a href="" class="logo">Burg<span class="text-bold">Mania</span></a>
            <div class="nav-links">
                <ul>
                    <li class="nav-active"><a href="">Home</a></li>
                    <li><a href="" role="button" aria-disabled="true">Sobre</a></li>
                    <li><a href="" role="button" aria-disabled="true">Equipe</a></li>
                    <li><a href="" role="button" aria-disabled="true">Contato</a></li>
                    <li class="border-button"><a href="">Login</a></li>
                </ul>
            </div>
        </nav>

        <div class="topbar">
            <div class="toggle-navbar">
                <img class="icon-menu" src="assets/img/burguer-bar.png" alt="Buguer menu">
            </div>
        </div>
    </header>
</div>